<footer>
    <div class="footer-box">
        <div class="footer">
            <div class="logo-div">
                <h1 class="logo">SHOE<span class="logo-shop">SHOP</span></h1>
            </div>
            <div class="services-list">
                <ul class="ul-footer">
                    <li>
                        <h1 class="h1-footer">Services</h1>
                    </li>
                    <li class="list-item"><a href="/underconstruction">Return Order</a></li>
                    <li class="list-item"><a href="/underconstruction">Track Order</a></li>
                    <li class="list-item"><a href="/underconstruction">Shop shoe Affilite</a></li>
                </ul>
            </div>
            <div class="contact-list">
                <ul class="ul-footer">
                    <li>
                        <h1 class="h1-footer">Contact Us</h1>
                    </li>
                    <li class="list-item"><a href="#">FaceBook</a></li>
                    <li class="list-item"><a href="#">Instagram</a></li>
                    <li class="list-item"><a href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="delivery-list">
                <h1 class="h1-footer"><i class="fas fa-truck fa-lg"></i>Parter</h1>
                <img src="/images/Delhivery_logo.png" alt="Delhivery Logo" class="delhivery">
                <br>
                <i class="fab fa-ups ups"></i>
            </div>
            <div class="payment-powered">
                <h1 class="h1-footer"><i class="fas fa-money-bill-alt fa-xs"></i>partner</h1>
                <img src="/images/stripe.png" alt="stripe payment" class="stripe">
            </div>
        </div>
    </div>
    <div class="footer-cart">
        <div class="footer-address">
            <h3>&#169 2020-2021 SHOPSHOE</h3>
        </div>
    </div>
</footer>
 <script src="/js/main.js"></script>
</body>

</html>