<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/68b00e75de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>ShoeShop</title>
</head>

<body>
    <div class="nav-bar">
        <nav class="nav">
            <h1 class="logo"><a href="/" class="logo-a">SHOE<span class="logo-shop">SHOP</span></a></h1>
            <ul class="nav-ul-box">
                <li class="nav-li"><a href="/men">MEN</a></li>
                <li class="nav-li"><a href="/women">WOMEN</a></li>
                <li class="nav-li"><a href="/kids">KIDS</a></li>
            </ul>
            <div class="searchbar-box">
                <form action="/search" method="POST" class="search-form">
                    <input class="search" type="text" name="search" placeholder="Search by brand...">
                    <button class="search-button"><i class="fas fa-search search-icon"></i></button>
                    <form>
            </div>
            <span class="check-account-box">
                <i class="fas fa-user fa-user-custom"></i>
                <p>HI Guest</p>
            </span>
            <span class="cart-box">
                <div class="counter"><h3 class="counter-display"></h3></div>
                <i class="fas fa-shopping-cart fa-cart-custom"></i>
            </span>
        </nav>
    </div>