<%-include("partials/header")-%>
<div class="address-main">
    <p>Shipping-address > payment > confirmation</p>
    <div class="address-box">
        <h1>Shipping-address</h1>
        <form>
            <label for="name">NAME *</label>
            <input type="text" placeholder="eg: John" id="name" required autofocus>
            <label for="email">Email *</label>
            <input type="text" placeholder="eg: John@email.com" id="email" required>
            <label for="phone">Phone Number *</label>
            <input type="text" placeholder="eg: 854-22x-xxxx" id="phone" required>
            <label for="address">address *</label>
            <input type="text" placeholder="eg: wall st " id="address" required>
            <label for="Landmark">LandMark</label>
            <input type="text" placeholder="eg: any place near your address...." id="address" required>
            <label for="city">City *</label>
            <input type="text" placeholder="eg: New York City" id="city" required>
            <label for="state">State *</label>
            <input type="text" placeholder="eg: New York" id="state" required>
            <label for="Country">Country</label>
            <input type="drop-down" placeholder="eg: US" id="Country" required>
            <label for="Zipcode">zip/Postal code *</label>
            <input type="text" placeholder="eg: 45xxxx" id="Country" required>
            <button>Continue For Payment</button>
        </form>
    </div>
</div>
<div class="address-box">
    
</div>
</div>
<%-include("partials/footer")-%>