<%-include("partials/header")-%>
<div class="cart-main">
    <div class="left-side-cart">
      <div class="header-cart"><h1>YOUR CART</h1></div>
      <span class="items-box">
          <span class="items-box-left">
          <img class="shoe-image-cart" src="images/Nike shoes/rsz_nike_air_huarache_110.png" alt="nike_air_huarache">
          <ul>
              <li><h1>NIKE AIR 09</h1></li>
              <li><h4>SIZE: UK 9</h4></li>
              <li><h4>ID: D456Kl</h4></li>
              <li><button>Remove</button></li>
          </ul>
        </span>
          <h2>$330</h2>
        </span>
      <hr>
    </div>
    <div class="right-side-cart">
        <h2>Summary</h2>
        <div class="summary-details">
            <span class="subtotal-box">
                <h3>SubTotal</h3>
                <h3>$330</h3>
            </span>
            <span class="subtotal-box">
                <h3>Delivery Fee</h3>
                <h3>$12</h3>
            </span>
            <span class="subtotal-box">
                <h3>tax</h3>
                <h3>$15</h3>
            </span>
        </div>
        <span class="total-box">
            <h1>Total</h1>
            <h2>$357</h2>
        </span>
        <button class="cart-check-out-btn">CHECK OUT</button>
    </div>
</div>
<%-include("partials/footer")-%>