<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/68b00e75de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-bar">
        <nav class="nav">
            <h1 class="logo"><a href="/" class="logo-a">SHOE<span class="logo-shop">SHOP</span></a></h1>
        </nav>
    </div>
<div class="confirmation">
<h1>Thank you for testing</h1>
</div>
<footer class="footer-cart" style="background-color: white; color: black;">
    <div class="footer-address">
        <h3>&#169 2020-2021 SHOPSHOE</h3>
    </div>
  </footer>
  </body>
  </html>