<%-include("partials/header")-%>
<div class="sub-product-detail">
    <div class="left-sub-product-detail">
        <table>
            <h1 class="size-h1">Size</h1>
            <tr>
                <td class="size-button"> <button>uk 11</button></td>
            </tr>
            <tr>
                <td class="size-button"><button>uk 9</button></td>
            </tr>
            <tr>
                <td class="size-button"><button>uk 8</button></td>
            </tr>
        </table>
        <h2 class="tax-included-tag">incl.of taxes</h2>
        <img src="images/free_delivery-removebg-preview (1).png" alt="Free Delivery">
    </div>
 </div>
 <%-include("partials/footer")-%>   