<%-include('partials/header')-%>
<div class="main-not-found">
    <h1>0 result found Try Searching For Other Brand</h1>
    <h2>Brands Available</h2>
    <h3>Nike</h3>
    <h3>Adidas</h3>
    <h3>Brooks</h3>
    <h3>Hoka</h3>
</div>
<%-include('partials/footer')-%>