<%-include('partials/header')-%>
<div class="main-under-construction">
      <h1>Page is under construction will be available soon</h1>
      </br>
      <a href = "/">BACK TO HOME</a>
</div>
<%-include('partials/footer')-%>